h1 {
    color: rgb(245, 245, 245);
    text-align: center;
    text-shadow: 10%;
    text-shadow: rgb(255, 0, 43);

}
body {
    color: rgb(255, 255, 255);
    background-color: black;
    font-family:'Arial Narrow Bold', sans-serif;
    background-size: 100%;
}

 h2 {
    font-size: 100%;
    border-radius: 10;
    border-color: aqua;
}
video {
 top: 20;
}
h1 {
    background: 5px;
   color: aqua;
   padding: 5px;
   margin: 5px;
}